<div class="modal-dialog modal-lg">
    <div class="modal-content">
        {% if obj %}
        <form role="form" action="{% url 'cmp:proveedor_edit' obj.pk %}" method="post" class="form-inline">
        {% else %}
        <form role="form" action="{% url 'cmp:proveedor_new' %}" method="post" class="form-inline">
        {% endif %}
            <div class="col-xl-12 col-md-12 mb-12">
                {% if obj %}
                <div class="card border-left-warning shadow h-100 py-2">
                {% else %}
                <div class="card border-left-success shadow h-100 py-2">
                {% endif %}
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col m-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                    {% if obj %} Editar {% else %} Nuevo {% endif %} Proveedor
                                </div>
                                <div class="dropdown-divider"></div>
                                {% csrf_token %}
                                <div class="row">
                                    {{ form.as_p }}
                                </div>
                                <div class="dropdown-divider"></div>
                                <div class="row">
                                    <div class="col">
                                        <button type="submit" class="btn btn-danger">
                                            <span class="fa fa-save"></span> Guardar
                                        </button>
                                        <button type="button" class="btn btn-success" onclick="return cerrar_modal()">
                                            Cancelar
                                        </button>
                                    </div>
                                    <div class="col-auto">
                                        <i class="far fa-calendar-plus fa-2x text-gray-300"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    $(document).ready(function() {
        var token = $('input[name=csrfmiddlewaretoken]').val();
        
        // Configuración para enviar el token CSRF en todas las solicitudes AJAX
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!/^http:.*/.test(settings.url) && !/^https:.*/.test(settings.url)) {
                    xhr.setRequestHeader("X-CSRFToken", token);
                }
            }
        });
    
        $("#btnInactivar").click(function(e) {
            e.preventDefault();
            // alert("Probando");
    
            var id = "{{ obj.id }}"; // Corregir la sintaxis de Django para que funcione en JavaScript
            var template = "{% url 'cmp:proveedor_inactivar' obj.id %}"; // Esto no necesita concatenación
            var data = JSON.stringify({"id": id}); // Formatear los datos JSON correctamente
    
            $.ajax({
                    type: "POST",
                    url: template,
                    data: data,
                    beforeSend: function(xhr, settings) {
                        $.ajaxSettings.beforeSend(xhr, settings);
                    },
                    success: function(response) {
                        console.log(response);
                        cerrar_modal();
                        // alert(response);
                        mensaje(response);
                    },
                    error: function(jqXHR, textStatus, errorThrow) {
                        console.log(textStatus, errorThrow);
                        mensaje(errorThrow, 'red');
                        cerrar_modal();
                    }
                });

        });
    });
    </script>
    
